.list {
  border: 5px solid black;
  height: 100%;
  width: 100%;
  column-count: 3;
  column-gap: 0px;
  background-image: url("https://i.imgur.com/nFqUiOl.jpg");
  background-size: auto;
  opacity: 0.8;
}

.Countries {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.text {
  color: white;
  font-weight: bold;
  opacity: 1;
}

a {
  color: black;
  font-weight: bold;
  opacity: 1;
}

@media only screen and (min-width: 300) {
  .list {
    width: 300px;
    height: 600px;
    column-count: 3;
  }
}
