.profile {
  border: 2px solid orange;
}

.profilePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.box {
  border: 5px solid rgb(207, 95, 255);
  width: 300px;
  margin-right: 20px;
}

.deleteButton {
  margin: 0 50px;
}

.update {
  text-align: center;
  border: 5px solid #ffa500;
}
