.profile {
  border: 2px solid orange;
}

.profilePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  border: 5px solid rgb(207, 95, 255);
  width: 300px;
  height: 500px;
  margin-right: 20px;
}
.profileText {
  margin-left: -15px;
}
.requirements {
  font-style: italic;
  color: red;
  font-size: 14px;
  text-align: center;
}
.deleteButton {
  margin-left: 30px;
}

.update {
  text-align: center;
  border: 5px solid #ffa500;
}
